[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:

[run]
omit =
    */__init__.py
    # this is tested by integration tests (only)
    */rds_log_dog.py
